
			*{
					margin: 0;
					padding: 0;
			}
			body{
				background: rgba(52, 54, 66, 0.5);
			}
			.title img{
				margin-top: 5px;
				margin-right: -6px;
				float: right;
			}
			.text-login{
				width: 300px;
				margin: 250px auto;
				font-size: 30px;
				color: #3B7AE3;
				display: none;
				
			}
			.window{
				border: 1px #ccc solid;
				width: 400px;
				margin: 200px auto;
			}
				.title{
							height: 48px;
					    line-height: 48px;
					    padding: 0px 20px;
					    color: #535353;
					    font-size: 16px;
					    border-bottom: 1px solid #efefef;
					    background: #f5f5f5;
					    cursor: move;
					    user-select: none;
				}
				form{
					padding: 25px;
					background: #fff;
				}
				.user,.user-pas{
					width: 340px;
					height: 42px;
					margin-bottom: 15px;
					position: relative;
				}
				.user img,.user-pas img{
						position: absolute;
						left: 3px;
						bottom: 0;
				}
				a{
					text-decoration: none;
				}
				.regi a{
					float: right;
				  
				}
				.login a{
					display: block;	
					height: 50px;
					line-height: 50px;
					text-align: center;
					background: #3b7ae3;
					color: #fff;
					margin-top: 20px;
				}
				#img-hide{
					left: 315px;
				
				}
				.regi{
						overflow: hidden;
				}
			input{
				 width:100%;
				 height: 100%;
				 text-indent: 35px;
			}

	