	body{
				background-color: #CDCDCD;
			}
			*{ margin: 0;  padding:0;}
			.top-content{
				width:80%;
				margin: 0 auto;
				font-size:24px;
				color: aliceblue;
			}
			.header{ 
				height:2.5rem;
				background-color: #323232;
				padding: 0.625rem 0;
				}
			.top-content input{ 
				float: right;
				width: 60%;
				height: 26px;
				border-radius: 5px;
				text-indent: 0.3125rem;
				outline-style: none;
				margin-top: 5px;
				}
				.content{
					 width: 80%;
					 color: #000;
					 font-size: 24px;
					 font-weight: bold;
					 margin: 15px auto;
				}
					.content div span{
						background-color: #E6E6FA;
						border-radius: 20px;
						float: right;
						font-size: 16px;
						padding: 2.5px;
						font-weight: normal;
					}
				.yes-finish{
					margin-bottom:10px ;
				}
				.no-finish{
					margin-bottom: 15px;
				}
				ol,ul{
					margin-bottom: 20px;
				
					list-style: none;
				}
				li{
					background-color:#fff;
					position: relative;
					margin-bottom: 5px;
				}
				ol,ul li{
					  
						 
						border-left: #629A9C 5px solid;
						margin-bottom: 15px;
				}
				ol li>span{
						 position: absolute;
						font-weight: normal;
						left:2.5rem;
						font-size: 16px;
						top:5px;
					
				}
				ul li>span{
						 position: absolute;
						font-weight: normal;
						left:2.5rem;
						font-size: 16px;
						top:5px;
					
				}
				
				li input{
					height: 22px;
					width: 22px;
					margin: 5px 0 0 5px;
				}
				li a{
					    position: absolute;
					    top: 2px;
					    right: 5px;
					    display: inline-block;
					    width: 14px;
					    height: 12px;
					    border-radius: 14px;
					    border: 6px double #FFF;
					    background: #CCC;
					    line-height: 14px;
					    text-align: center;
					    color: #FFF;
					    font-weight: bold;
					    font-size: 14px;
					    cursor: pointer;
				}
				.disable{
					background: #E6E6E6;
					border-left: #B3B3B3 5px solid;
				}